button.btn-back(type="button", onclick="javascript:location.href='/'") 
  span Назад
.map
  .l-center
    p.map__text
      | приходи на тренировку в boost runclub>, заряжай друзей и получи шанс поехать на вдохновляющий международный забег!
    button.btn-yellow.js-showRegistration зарегистрироваться >

    ul.map__connect
      li.map__connectOwn
        img(src="/img/mobile/main-photo.png", alt="")
      li.map__connected
        img(src="/img/mobile/photo-1.png", alt="")

    .map__share
      qp поделиться с друзьями
      ul
        li
          a(href="javascript:document.Share.fb()").map__share-fb
        li
          a(href="javascript:document.Share.tw()").map__share-tw
        li
          a(href="javascript:document.Share.vk()").map__share-vk

    #map_list_item_template.template(style="display:none;")
      li.map__photo
        img(src="{image}", alt="")