button.btn-back(type="button", onclick="javascript:location.href='/'") 
  span Назад
.map
  .l-center
    p.map__text
      | получи шанс отправиться на один из самых вдохновляющих забегов мира
    button.btn-yellow.js-showRegistration зарегистрироваться >

    .map__mainPhoto
      img(src="/img/mobile/tmp/main-photo.png", alt="")

    ul.map__list.js-mapList

    .map__more
      span показать всех
      button.btn-more.js-showMoreConnections(type="button") &#8943;

    .map__share
      p поделиться с друзьями
      ul
        li
          a(href="javascript:document.Share.fb()").map__share-fb
        li
          a(href="javascript:document.Share.tw()").map__share-tw
        li
          a(href="javascript:document.Share.vk()").map__share-vk

    #map_list_item_template.template(style="display:none;")
        li.map__photo
          img(src="{image}", alt="")