button.btn-back(type="button").js-closeProduct 
  span Назад
.text-product
  img.text__img(src="img/mobile/shoes.jpg", alt="Adidas. Boost>")
  .text__content
    p энергия бега объединяет. заставляет сердце биться чаще. наполняет позитивными эмоциями.
    p adidas boost возвращает тебе максимум энергии, и ты можешь зарядить ею всех, кто рядом с тобой.
    p #зарядидрузей, чтобы новых бегунов стало больше.