
button.btn-back(type="button", onclick="location.href='/'")
  span Назад

h2.title укажи размер футболки и кроссовок, и adidas подготовит все для твоей первой тренировки
form(action="/reg", method="post").form
  .l-center
    .form__group
      label(for="email").form__label Email
      input(type="email" id="email" name="email" data-required="true" data-validator="email").form__field.js-validate
      span.form__validateMessage.js-invalidMessage Поле обязательно для заполнения
    .form__group
      label(for="instagram-account").form__label Instagram аккаунт
      input(type="text" id="instagram-account" name="instagram_account" data-required="true").form__field.form__field-instagram.js-validate
      span.form__validateMessage.js-invalidMessage Поле обязательно для заполнения
    .form__group
      label(for="name").form__label ФИО
      input(type="text" id="name" name="name" data-required="true" data-validator="name").form__field.js-validate
      span.form__validateMessage.js-invalidMessage Поле обязательно для заполнения
    div.form__group
      .form__customSelect-sizeShirt.js-openSelect(data-for="tsize")
        .customSelect__value Размер футболки
        .customSelect__dropdown
          ul.js-selectList
            li(data-value="S") S
            li(data-value="M") M
            li(data-value="L") L
            li(data-value="XL") XL

      input(type="hidden", name="tsize", id="tsize")

      .form__customSelect-sizeShoes.js-openSelect(data-for="size")
        .customSelect__value Размер обуви
        .customSelect__dropdown
          ul.js-selectList
            li(data-value="35") 35
            li(value="36") 36
            li(value="37") 37
            li(value="38") 38
            li(value="39") 39
            li(value="40") 40
            li(value="41") 41
            li(value="42") 42
            li(value="43") 43
            li(value="44") 44
            li(value="45") 45

      input(type="hidden", name="size", id="size")
    .form__group
      .form__label Куда приходить на тренировку
      .form__customSelect-place.js-openSelect(data-for="place")
        .customSelect__value База спорткомплекс
        .customSelect__dropdown
          ul.js-selectList
            li(data-value="Лужники") runclub> Лужники
    .form__group
      input(type="checkbox" id="rulesAgree2" name="agree").form__customCheckbox
      label(for="rulesAgree2").form__labelCheckbox
        | Согласен с 
        a(href="/rules.pdf", target="_blank") правилами
    .form__group
      input(type="checkbox" id="instagramIsMine2" name="instagramMy").form__customCheckbox
      label(for="instagramIsMine2").form__labelCheckbox
        | Я подтверждаю, что указанный инстаграм аккаунт принадлежит мне
    button.btn-yellow зарегистрироваться &nbsp;>
    .form__note Если ты уже заряжал друзей, то не переживай, ты участвуешь в конкурсе. А пока приходи на тренировку.
