button.btn-back(type="button").js-closeRegistration 
  span Назад

h2.title adidas пригласит твоего друга на специальную тренировку в boost runclub>
form(action="/reg", method="post").form

  .l-center
    .form__group
      label(for="email").form__label Email
      input(type="email" id="email" name="email" data-required="true" data-validator="email").form__field.js-validate
      span.form__validateMessage.js-invalidMessage Поле обязательно для заполнения
    .form__group
      label(for="instagram-account").form__label Instagram аккаунт
      input(type="text" id="instagram-account" name="instagram_account" data-required="true").form__field.form__field-instagram.js-validate
      span.form__validateMessage.js-invalidMessage Поле обязательно для заполнения
    .form__group
      label(for="name").form__label ФИО
      input(type="text" id="name" name="name" data-required="true" data-validator="name").form__field.js-validate
      span.form__validateMessage.js-invalidMessage Поле обязательно для заполнения
    .form__group
      input(type="checkbox" id="rulesAgree" name="agree").form__customCheckbox
      label(for="rulesAgree").form__labelCheckbox
        | Соглашаюсь с&nbsp;
        a(href="http://www.adidas.ru/PrivacyPolicy", target="_blank") политикой конфиденциальности
    .form__group
      input(type="checkbox" id="instagramIsMine" name="instagramMy").form__customCheckbox
      label(for="instagramIsMine").form__labelCheckbox
        | Я подтверждаю, что указанный инстаграм аккаунт принадлежит мне
    button.btn-yellow зарегистрироваться &nbsp;>