doctype html
html
    head
        title #ЗАРЯДИДРУЗЕЙ
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script
            :js
                if(typeof $ == "undefined")
                    document.write('<scr' + 'ipt src="/js/jquery.min.js"></scr' + 'ipt>');
        each style in styles
                link(rel="stylesheet", href=style)
        each script in scripts
            script(src=script, type="text/javascript")
        |<!--[if lte IE 9]><script type="text/javascript" src="js/html5allower.js"></script><![endif]-->
    body
        block content