
@font-face {
    font-family: 'adhbold';
    src: url('fonts/adhbold.eot');
    src: url('fonts/adhbold.eot?#iefix') format('embedded-opentype'),
         url('fonts/adhbold.woff') format('woff'),
         url('fonts/adhbold.ttf') format('truetype'),
         url('fonts/adhbold.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'adhmedium';
    src: url('fonts/adihausdin-medium-webfont.eot');
    src: url('fonts/adihausdin-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adihausdin-medium-webfont.woff') format('woff'),
         url('fonts/adihausdin-medium-webfont.ttf') format('truetype'),
         url('fonts/adihausdin-medium-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'adhcyrr';
    src: url('fonts/adhcyrr.eot');
    src: url('fonts/adhcyrr.eot?#iefix') format('embedded-opentype'),
         url('fonts/adhcyrr.woff') format('woff'),
         url('fonts/adhcyrr.ttf') format('truetype'),
         url('fonts/adhcyrr.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'adineuebold';
    src: url('fonts/adineuebold-webfont.eot');
    src: url('fonts/adineuebold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adineuebold-webfont.woff') format('woff'),
         url('fonts/adineuebold-webfont.ttf') format('truetype'),
         url('fonts/adineuebold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avg65c';
    src: url('fonts/avg65c.eot');
    src: url('fonts/avg65c.eot?#iefix') format('embedded-opentype'),
         url('fonts/avg65c.woff') format('woff'),
         url('fonts/avg65c.ttf') format('truetype'),
         url('fonts/avg65c.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}