@font-face
  font-family 'adineuebold'
  src url('fonts/adineuebold-webfont.eot')
  src: url('fonts/adineuebold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/adineuebold-webfont.woff') format('woff'), url('fonts/adineuebold-webfont.ttf') format('truetype'), url('fonts/adineuebold-webfont.svg') format('svg')
  font-weight normal
  font-style normal


@font-face
  font-family 'adihausdin-condbold'
  src url('../fonts/adihausdin-condbold-webfont.eot')
  src: url('../fonts/adihausdin-condbold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/adihausdin-condbold-webfont.woff') format('woff'), url('../fonts/adihausdin-condbold-webfont.ttf') format('truetype'), url('../fonts/adihausdin-condbold-webfont.svg') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'adihausdin-medium'
  src url('../fonts/adihausdin-medium-webfont.eot')
  src: url('../fonts/adihausdin-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/adihausdin-medium-webfont.woff') format('woff'), url('../fonts/adihausdin-medium-webfont.ttf') format('truetype'), url('../fonts/adihausdin-medium-webfont.svg') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'adihausdin-condmedium'
  src url('../fonts/adihausdin-condmedium-webfont.eot')
  src: url('../fonts/adihausdin-condmedium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/adihausdin-condmedium-webfont.woff') format('woff'), url('../fonts/adihausdin-condmedium-webfont.ttf') format('truetype'), url('../fonts/adihausdin-condmedium-webfont.svg') format('svg')
  font-weight normal
  font-style normal

#graph

  background transparent url("../img/scheme-text.png") 64px 149px no-repeat

  svg
    margin-top - 200px
  .face-close, .face-link, .social
    cursor: pointer
  .tip-text
    text-align center
    font-family 'adineuebold', Arial, sans-serif

#wrap-register, #wrap-wannarun
  display none

.condBold
  font-family "adihausdin-condbold"

.btn-close
  top 90px
  right 14px
  margin-left 0px

.wrapper.with-graph
  background-image: url(../img/bg-white-wgr.jpg)


.howitworks-wrapper
  .kv
    width 440px
    float left
    img
      padding-left 11px
    .kvtext
      text-transform uppercase
      font-size 26px
      font-family adihausdin-condmedium
      text-align center
      margin-top 20px
      padding-right 90px


  .mech
    overflow hidden
    padding 18px 0 0 16px
    .text-header
      font-size 70px
      color #FFF
    .text-desc
      font-size 32px
      padding-top 5px
      line-height 36px

    .mech-desc
      margin 38px 0 10px 0
      padding 0
      font-size 24px

      li
        padding 8px 0 0 78px
        list-style none
        font-family adineuebold, avantgardegothiccdemi
        margin-bottom 23px
        line-height 26px

        background transparent 0 0 no-repeat

        &.insta
          background-image url(/img/inst-big.png)
          background-position 3px 6px
        &.lines
          background-image url(/img/l-big.png)
          background-position 5px 17px
        &.thunder
          background-image url(/img/thunder-big.png)
          background-position 13px 4px
          padding-bottom 10px

      .bigBlackButton
        font-family: avantgardegothiccdemi
        display: block
        background: #000
        color: #fff
        font-size: 30px
        padding: 20px 30px
        width: 302px
        text-decoration: none
        margin: 46px 0 0 10px
