body
  min-width 640px !important

.template
  display none !important

#instagram-login, #charging, #used-ig, #no-charges, #train-params, #inspirated
  display none

.authorized, .instagrammed, .inspirator, .inspirated, .already-exists
  #reg-form, #auth-form, #enter
    display none !important

.authorized
  #instagram-login
    display block

.already-exists
   #used-ig
     display block

.instagrammed
  #no-charges
    display block

.inspirator
  #charging
    display block

.inspirated
  &.no-data
    #train-params
      display block

  &.has-data
    #inspirated
      display block