body {
  min-width: 640px !important;
}
.template {
  display: none !important;
}
#instagram-login,
#charging,
#used-ig,
#no-charges,
#train-params,
#inspirated {
  display: none;
}
.authorized #reg-form,
.instagrammed #reg-form,
.inspirator #reg-form,
.inspirated #reg-form,
.already-exists #reg-form,
.authorized #auth-form,
.instagrammed #auth-form,
.inspirator #auth-form,
.inspirated #auth-form,
.already-exists #auth-form,
.authorized #enter,
.instagrammed #enter,
.inspirator #enter,
.inspirated #enter,
.already-exists #enter {
  display: none !important;
}
.authorized #instagram-login {
  display: block;
}
.already-exists #used-ig {
  display: block;
}
.instagrammed #no-charges {
  display: block;
}
.inspirator #charging {
  display: block;
}
.inspirated.no-data #train-params {
  display: block;
}
.inspirated.has-data #inspirated {
  display: block;
}
