vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -o-{prop} args
  {prop} args


@keyframes foo {
  0% {
    left 5px
  }
  12% {
    left 0px
  }
  37% {
    left 10px
  }
  50% {
    left 5px
  }
  100% {
    left 5px
  }
}

*
  margin 0
  padding 0
body
  font-family helvetica, arial, sans-serif
  .header
    background #CCC
    text-transform uppercase
    vendor(background, linear-gradient(to top, #EEE, #999))
    padding 10px 20px

    .filter-wrap
      display inline-block
      position relative
      padding 10px 30px
      .filter
        border #FFF 1px solid
        vendor(background, linear-gradient(to top, #FFF, #EEE))
        position absolute
        top 50px
        left 0
        height 0px
        width 150px
        padding 0px
        vendor(transition, all  .5s ease-out .2s)
        overflow hidden
        z-index 1
        .field
          &:not(:first-child)
            border-top: 1px solid #EEE
          input
            cursor pointer
            float right
            margin 13px 0
            padding 10px

          label

            cursor pointer
            padding 10px
            display block
      &:hover, &.active
        .filter
          height: 120px
          z-index 2
          border-color #CCC
          padding: 10px

  .content
    padding: 10px
    .image-wrap
      float left
      margin 10px

      .image-item
        height 306px
        width 306px
        background: transparent top left no-repeat
        vendor(background-size, 306px 306px)
        position relative
        overflow hidden
        .approve-controls
          position absolute
          right -60px
          top 30px
          vendor(transition, right .3s ease-out .1s)
          span
            &:not(:first-child)
              margin-top: 10px
            display block
            height 75px
            width 75px
            a
              display: block;
              height: 100%
              width: 100%
            &.approve
              background green
            &.deny
              background red
            &.link
              background #FFF url(/link.png) 50% 50% no-repeat


        .charge-controls
          display none
          height 80px
          width 75px
          background transparent url(/nonalert.png) top left no-repeat
          position absolute
          top 5px
          left -60px
          vendor(transition, left .3s ease-out .1s)
          &.nonsent
            left 5px
            background-image url(/alert.png)
            &:not(:hover)
              left: 10px

          .charge-list
            overflow auto
            max-height 300px
            width 0px
            background: #ffffff
            vendor(transition, all .3s ease-out .1s)
            li
              padding 5px
              line-height 25px
              width 240px
              position relative
              textarea
                display none
                position absolute
                top 3px
                left 3px


              .sent-indicator
                display inline-block
                width 25px
                height 25px
                background red
                float right
              &.sent
                .sent-indicator
                    display none

          &:hover
            .charge-list
              width: 250px


        &.approved
          .charge-controls
            display block
          .approve-controls
            .approve
              display none
        &.denied
          .approve-controls
            .deny
              display none

      &:hover
        overflow visible
        .approve-controls
          right 0
        .charge-controls
          left 5px

  .template
    display none