* {
  margin: 0;
  padding: 0;
}
body {
  font-family: helvetica, arial, sans-serif;
}
body .header {
  background: #ccc;
  text-transform: uppercase;
  -webkit-background: linear-gradient(to top, #eee, #999);
  -moz-background: linear-gradient(to top, #eee, #999);
  -o-background: linear-gradient(to top, #eee, #999);
  background: linear-gradient(to top, #eee, #999);
  padding: 10px 20px;
}
body .header .filter-wrap {
  display: inline-block;
  position: relative;
  padding: 10px 30px;
}
body .header .filter-wrap .filter {
  border: #fff 1px solid;
  -webkit-background: linear-gradient(to top, #fff, #eee);
  -moz-background: linear-gradient(to top, #fff, #eee);
  -o-background: linear-gradient(to top, #fff, #eee);
  background: linear-gradient(to top, #fff, #eee);
  position: absolute;
  top: 50px;
  left: 0;
  height: 0px;
  width: 150px;
  padding: 0px;
  -webkit-transition: all 0.5s ease-out 0.2s;
  -moz-transition: all 0.5s ease-out 0.2s;
  -o-transition: all 0.5s ease-out 0.2s;
  transition: all 0.5s ease-out 0.2s;
  overflow: hidden;
  z-index: 1;
}
body .header .filter-wrap .filter .field:not(:first-child) {
  border-top: 1px solid #eee;
}
body .header .filter-wrap .filter .field input {
  cursor: pointer;
  float: right;
  margin: 13px 0;
  padding: 10px;
}
body .header .filter-wrap .filter .field label {
  cursor: pointer;
  padding: 10px;
  display: block;
}
body .header .filter-wrap:hover .filter,
body .header .filter-wrap.active .filter {
  height: 120px;
  z-index: 2;
  border-color: #ccc;
  padding: 10px;
}
body .content {
  padding: 10px;
}
body .content .image-wrap {
  float: left;
  margin: 10px;
}
body .content .image-wrap .image-item {
  height: 306px;
  width: 306px;
  background: transparent top left no-repeat;
  -webkit-background-size: 306px 306px;
  -moz-background-size: 306px 306px;
  -o-background-size: 306px 306px;
  background-size: 306px 306px;
  position: relative;
  overflow: hidden;
}
body .content .image-wrap .image-item .approve-controls {
  position: absolute;
  right: -60px;
  top: 30px;
  -webkit-transition: right 0.3s ease-out 0.1s;
  -moz-transition: right 0.3s ease-out 0.1s;
  -o-transition: right 0.3s ease-out 0.1s;
  transition: right 0.3s ease-out 0.1s;
}
body .content .image-wrap .image-item .approve-controls span {
  display: block;
  height: 75px;
  width: 75px;
}
body .content .image-wrap .image-item .approve-controls span:not(:first-child) {
  margin-top: 10px;
}
body .content .image-wrap .image-item .approve-controls span a {
  display: block;
  height: 100%;
  width: 100%;
}
body .content .image-wrap .image-item .approve-controls span.approve {
  background: #008000;
}
body .content .image-wrap .image-item .approve-controls span.deny {
  background: #f00;
}
body .content .image-wrap .image-item .approve-controls span.link {
  background: #fff url("/link.png") 50% 50% no-repeat;
}
body .content .image-wrap .image-item .charge-controls {
  display: none;
  height: 80px;
  width: 75px;
  background: transparent url("/nonalert.png") top left no-repeat;
  position: absolute;
  top: 5px;
  left: -60px;
  -webkit-transition: left 0.3s ease-out 0.1s;
  -moz-transition: left 0.3s ease-out 0.1s;
  -o-transition: left 0.3s ease-out 0.1s;
  transition: left 0.3s ease-out 0.1s;
}
body .content .image-wrap .image-item .charge-controls.nonsent {
  left: 5px;
  background-image: url("/alert.png");
}
body .content .image-wrap .image-item .charge-controls.nonsent:not(:hover) {
  left: 10px;
}
body .content .image-wrap .image-item .charge-controls .charge-list {
  overflow: auto;
  max-height: 300px;
  width: 0px;
  background: #fff;
  -webkit-transition: all 0.3s ease-out 0.1s;
  -moz-transition: all 0.3s ease-out 0.1s;
  -o-transition: all 0.3s ease-out 0.1s;
  transition: all 0.3s ease-out 0.1s;
}
body .content .image-wrap .image-item .charge-controls .charge-list li {
  padding: 5px;
  line-height: 25px;
  width: 240px;
  position: relative;
}
body .content .image-wrap .image-item .charge-controls .charge-list li textarea {
  display: none;
  position: absolute;
  top: 3px;
  left: 3px;
}
body .content .image-wrap .image-item .charge-controls .charge-list li .sent-indicator {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #f00;
  float: right;
}
body .content .image-wrap .image-item .charge-controls .charge-list li.sent .sent-indicator {
  display: none;
}
body .content .image-wrap .image-item .charge-controls:hover .charge-list {
  width: 250px;
}
body .content .image-wrap .image-item.approved .charge-controls {
  display: block;
}
body .content .image-wrap .image-item.approved .approve-controls .approve {
  display: none;
}
body .content .image-wrap .image-item.denied .approve-controls .deny {
  display: none;
}
body .content .image-wrap:hover {
  overflow: visible;
}
body .content .image-wrap:hover .approve-controls {
  right: 0;
}
body .content .image-wrap:hover .charge-controls {
  left: 5px;
}
body .template {
  display: none;
}
@-moz-keyframes foo {
  0% {
    left: 5px;
  }
  12% {
    left: 0px;
  }
  37% {
    left: 10px;
  }
  50% {
    left: 5px;
  }
  100% {
    left: 5px;
  }
}
@-webkit-keyframes foo {
  0% {
    left: 5px;
  }
  12% {
    left: 0px;
  }
  37% {
    left: 10px;
  }
  50% {
    left: 5px;
  }
  100% {
    left: 5px;
  }
}
@-o-keyframes foo {
  0% {
    left: 5px;
  }
  12% {
    left: 0px;
  }
  37% {
    left: 10px;
  }
  50% {
    left: 5px;
  }
  100% {
    left: 5px;
  }
}
@keyframes foo {
  0% {
    left: 5px;
  }
  12% {
    left: 0px;
  }
  37% {
    left: 10px;
  }
  50% {
    left: 5px;
  }
  100% {
    left: 5px;
  }
}
