.selectbox {
	vertical-align: middle;
	cursor: pointer;
}
.selectbox .select {
	width: 185px;
	height: 89px;
	padding: 0 45px 0 10px;
	color: #333;
	background: #ffffff;
	border-left: 1px solid #eae9ea;
border-right: 1px solid #eae9ea;
border-top: 1px solid #eae9ea;
}
/* .selectbox .select:hover {
	background-color: #E6E6E6;
	background-position: 0 -10px;
} */
.selectbox .select:active {
	background: #f5f5f5;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
}
.selectbox.focused .select {
	border: 1px solid #5794BF;
}
.selectbox .select .text {
	display: block;
	width: 100%;
	font-size: 30px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 89px;
	font-family: 'adhcyrr';
	color: #000;
}
.selectbox .trigger {
	position: absolute;
	top: 28px;
	right: 10px;
	width: 34px;
	height: 100%;
}
.selectbox .trigger .arrow {
	position: absolute;
	top: 7px;
	right: 5px;
	width: 25px;
	height: 18px;
	overflow: hidden;
	background: url(../img/select.png) 0px 0px no-repeat;
}
.selectbox:hover .arrow {
	opacity: 1;
	filter: alpha(opacity=100);
}
.selectbox .dropdown {
border-left: 1px solid #eae9ea;
border-right: 1px solid #eae9ea;
border-bottom: 1px solid #eae9ea;
	top: 89px;
width: 183px;
	margin: 0;
	padding: 4px 0;
	background: #FFF;
}
.selectbox li {
	padding: 20px 10px 14px;
		font-size: 30px;
	font-family: 'adhcyrr';
	color: #000;
}
.selectbox li.selected {
	background: #A3ABB1;
	color: #FFF;
}
.selectbox li:hover {
	background: #08C;
	color: #FFF;
}
.selectbox li.disabled {
	color: #AAA;
}
.selectbox li.disabled:hover {
	background: none;
}