%resetFieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.form {
    background: #f3f3f3;

    .l-center {
        padding: 46px 23px;
        margin: 0 auto;
        max-width: 578px;
    }
    
    &__groupFieldset {
        @extend %resetFieldset;
        font-size: 0;
        margin: 0 0 35px;
    }

    &__group {
        @extend %resetFieldset;
        margin: 0 0 46px;
    }

    &__title {
        @extend .title;
        @include font-size(50);
        line-height: 1.1em;
        margin-bottom: 16px;
    }

    &__label {
        @include font-size(30);
        font-family: adihausdinregular;
        display: block;
        line-height: 1.2em;
        text-transform: uppercase;
        margin: 0 0 16px;

        &-hack {
            @extend .form__label;
            @include font-size(36);
            margin-top: 12px;
        }
    }

    &__field {
        @include font-size(28);
        background: #fff;
        border: 1px solid #eaeaea;
        box-sizing: border-box;
        padding: 0 23px;
        height: 90px;
        text-transform: uppercase;
        width: 100%;
    }

    &__note {
        @include font-size(30);
        font-family: adihausdinregular, sans-serif;
        margin: 20px 0 0;
    }
}


.form__customCheckbox {
    position: absolute;
    left: -999em;
    opacity: 0;
    z-index: 0;
}


.form__labelCheckbox {
    @extend .form__label;
    @include inline-block;
    line-height: 40px;
    position: relative;
    text-transform: none;
    margin: 0;
    padding-left: 50px;
    
    &:before {
        @include inline-block;
        background: #fff;
        border: 1px solid #eaeaea;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 38px;
        width: 38px;
    }

    a {
        color: #000;
    }
}

.form__customCheckbox:checked + .form__labelCheckbox:before {
    background: #fff url(../img/mobile/checkbox-yellow.jpg) no-repeat center center;
}

.form__validateMessage {
    font-size: 0;
}

.invalid {
    .form__field {
        border: 2px solid #fe9a2d;
        color: #ea7d8b;
    }
    .form__validateMessage {
        color: #dc1044;
        display: block;
        font-size: 16px;
        margin: 4px 0 0;
    }
}


.form__customSelect {
    background: #fff;
    margin: 1px 0 0;

    .customSelect {
        @include font-size(26);
        
        &__value {
            border-left: 12px solid #fff;
            display: block;
            cursor: pointer;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 88px;
            position: relative;
            height: 88px;
            padding: 0 88px;

            transition: border-color 0.15s ease;

            &:after {
                @include arrow-stroke(10px, 10px, #fff, 3px, #050505, right);
                content: '';
                position: absolute;
                right: 35px;
                top: 50%;
                margin: -5px 0 0;
                transition: transform 0.25s ease;
            }
        }

        &__dropdown {
            background: #ededec;
            display: none;
            overflow-y: auto;
            max-height: 280px;

            ul {
                @extend .list-v;
            }

            li {
                @include font-size(26);
                padding: 0 100px;
                line-height: 2.45em;

                &:hover {
                    background: #d9d9d9;
                }
            }

            .selected {
                background: #d9d9d9;
                font-weight: bold;
            }
        }
    }

    &.opened {

        .customSelect { 
            &__value {
                border-left: 12px solid #000;
                &:after {
                    margin: -10px 0 0;
                    transform: rotate(135deg);    
                }
            }

            &__dropdown {
                display: block;
            }
        }

    }


    &-sizeShirt {
        @extend .form__customSelect;

        .customSelect__value {
            background: url(../img/mobile/icons/shirt.svg) no-repeat 22px 50%;
            background-size: 36px 33px;
        }
    }

    &-sizeShoes {
        @extend .form__customSelect;
        position: relative;

        .customSelect__value {
            background: url(../img/mobile/icons/shoes.svg) no-repeat 22px 50%;
            background-size: 38px 19px;
        }
    }

    &-place {
        @extend .form__customSelect;

        .customSelect__value {
            background: url(../img/mobile/icons/arrow.svg) no-repeat 22px 50%;
            background-size: 29px 30px;
        }
    }
}