doctype html
html.no-js

    head
        include ./common_partials/head.jade

    body
        .wrapper
            include ./common_partials/header.jade

            .wrapper-index
                .howItWorks
                    .l-center
                        h2.howItWorks__title заряди друзей
                        ul.howItWorks__description
                            li
                                span.icon.icon-instagram
                                p загрузи свое беговое фото в instagram c хэштегом #зарядидрузей и отметь в описании @ник друга
                            li
                                span.icon.icon-list
                                p adidas пригласит твоего друга на специальную тренировку в boost runclub
                            li
                                span.icon.icon-thunder
                                p заряжай больше друзей и смотри, как растет беговое сообщество на energy.adidas-running.ru
                        form.instagramSignin__form.js-instagramSignin(action="#", method="get")
                            .instagramSignin__label введи свой instagram
                            .instagramSignin__group
                                input#namefield.instagramSignin__field(type="text", name="", autofocus="true", autocomplete="off")
                                a.instagramSignin__submit.js-showMap(href="javascript:void(0)")
                .product
                    button.btn-product.js-showProduct(type="button")
                        | узнай больше
                        br
                        | об энергии boost >

            .modal-product
                include ./modals/product.jade

            .modal-map
                include ./modals/map.jade

            .modal-map-sm
                include ./modals/map-small.jade

            .modal-registration
                include ./modals/registration.jade

            .modal-registrationShort
                include ./modals/registration-short.jade

            include ./common_partials/footer.jade
        include ./common_partials/scripts.jade
