doctype html
html.no-js
  head
    include ./common_partials/head.jade

  body
    .wrapper
      include ./common_partials/header.jade

      button.btn-back(type="button", onclick="javascript:location.href='/'") 
        span Назад

      .text
        .text__content
          h1 спасибо!
          p 
            | Ждем тебя каждую субботу в 12:30 в выбранном тобой boost runclub>! 
            br
            | Чтобы мы тебя узнали и вручили тебе набор начинающего бегуна, предъяви на тренировке свой эккаунт в Instagram.
          p До встречи в boost runclub>!
          .text__more 
            | читай больше на 
            a(href="http://adidas-running.ru", target="_blank") adidas-running.ru
              

      include ./common_partials/footer.jade