doctype html
html.no-js
  head
    include ./common_partials/head.jade

  body
    .wrapper
      include ./common_partials/header.jade

      button.btn-back(type="button", onclick="javascript:location.href='/'") 
        span Назад

      .text
        .text__content
          h1 спасибо за твое желание заряжать друзей!
          p За количеством заряженных друзей ты сможешь следить в личном энергографе. Чтобы увидеть свой прогресс, просто введи свой @ник в Instagram на главной странице сайта.
          p adidas пригласит твоего друга на специальную тренировку в boost runclub>
          p Заряжай больше друзей и смотри, как растет беговое сообщество на energy.adidas-running.ru
          p Желаем удачи!
          .text__more 
            | читай больше на 
            a(href="http://adidas-running.ru", target="_blank") adidas-running.ru
              

      include ./common_partials/footer.jade