doctype html
html.no-js
  head
    include ./common_partials/head.jade

  body
    .wrapper
      include ./common_partials/header.jade

      button.btn-back(type="button", onclick="javascript:location.href='/'") 
        span Назад

      .howItWorks-white
        .l-center
          h2.howItWorks__title ты еще не поделился энергией бега
          ul.howItWorks__description
            li
              span.icon.icon-instagram-pink
              p загрузи свое беговое фото в instagram c хэштегом #зарядидрузей и отметь в описании @ник друга
            li
              span.icon.icon-list-pink
              p adidas пригласит твоего друга на специальную тренировку в boost runclub
            li
              span.icon.icon-thunder-pink
              p заряжай больше друзей и смотри, как растет беговое сообщество на energy.adidas-running.ru

          .howItWorks__more 
            | читай больше на 
            a(href="http://adidas-running.ru", target="_blank") adidas-running.ru
  
      include ./common_partials/footer.jade