doctype html
html.no-js
  head
    include ./common_partials/head.jade

  body
    .wrapper
      include ./common_partials/header.jade

      button.btn-back(type="button", onclick="javascript:location.href='/'") 
        span Назад

      h2.title имя твоего instagram аккаунта уже было использовано
      form(action="#", method="post").form
        .l-center
          label.form__label-hack если это был не ты - свяжись с нами
          .form__group
            label(for="email").form__label Email
            input(type="email" id="email" name="email" data-required="true" data-validator="email").form__field.js-validate
            span.form__validateMessage.js-invalidMessage Поле обязательно для заполнения
      
          button.btn-yellow отправить&nbsp;>

      include ./common_partials/footer.jade