input:focus, 
textarea:focus,
button:focus, 
a:focus {
    outline: none;    
}

.mac {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    input, textarea, button {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.tCenter {
    text-align: center !important;
}

.tLeft {
    text-align: left !important;
}

.tRight {
    text-align: right !important;
}

.text-upper {
    text-transform: uppercase;
}

.no-link {
    text-decoration: none;
}

.no-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-h {
    font-size: 0;
    @extend .no-list;

    li {
        @include inline-block;
        font-size: $font-base-size;
    }
}

.list-v {
    @extend .no-list;

    li {
        display: block;
    }
}

.hidden {
    display: none !important;
}

.showed {
    display: block !important;
}

.clear {
    clear: both;
    display: block;
}

.clearfix {
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}