@media all and (max-width: 479px) {
    
    html,
    body {
        font-size: 9px;
    }

    .header {
        padding: 0 20px;
        height: 60px;

        .l-center {
            line-height: 60px;
        }

        &__logo {
            height: 24px;
        }
    }
    
    .btn {
        
        height: 45px;
        line-height: 45px;

        &-back {
            line-height: 40px;
            height: 40px;

            span {
                background-size: 19px 14px;
                padding-left: 30px;    
            }
        }

        &-yellow {
            line-height: 50px;
            height: 50px;
        }

        &-more {
            font-size: 20px;
            line-height: 25px;
            height: 25px;
            width: 25px;
        }
    }

    .social__item {
        background-size: 37px 30px;
        height: 69px;
        width: 69px;
    }
    

    .howItWorks {
        padding: 30px 20px 20px;

        &__description {
            li {
                padding-left: 38px;
                margin-bottom: 20px;
            }

            .icon {
                height: 27px;
                width: 27px;
            }
        }
    }

    .instagramSignin {
        &__group {
            height: 45px;
            &:before {
                left: 12px;
            }
        }

        &__field {
            padding-left: 45px;
            font-size: 20px;
        }

        &__submit {
            background-size: 21px 23px;
            width: 50px;
        }
    }

    .product {
        padding: 20px 0;

        .btn-product {
            padding-left: 100px;
            line-height: 24px;
            height: 84px;

            &:before {
                background-size: 87px 84px;
                width: 87px;
            }
        }
    }

    .map { 
        &__shareLink {
            height: 42px;
            width: 42px;
        }

        &__share {
            li {
                margin: 0 12px;
            }
        }

        &__share-fb {
            background-size: 12px 23px;
        }
        &__share-tw {
            background-size: 22px 18px;
        }
        &__share-vk {
            background-size: 26px 15px;
        }

        &__mainPhoto {
            height: 138px;
            width: 138px;

            &:after {
                background-size: 170px 55px;
                bottom: -75px;
                margin-left: -85px;
                height: 55px;
                width: 170px;
            }
        }
        
        &__list {
            margin-top: 90px;
            height: 330px;
        }
            &__photo {
                margin: 12px;
                width: 60px;
                height: 60px;
            }

        &__connect {
            margin-top: 40px;
        }
            &__connectOwn {
                height: 138px;
                width: 138px;
            }
            &__connected {
                width: 60px;
                height: 60px;
            }
    }

    .text__content {
        padding: 16px 25px 30px;
    }

    .form {
        .l-center {
            padding: 23px;
        }

        &__group {
            margin-bottom: 23px;
        }

        &__label {
            margin-bottom: 8px;
        }

        &__field {
            height: 45px;
        }


        &__labelCheckbox {
            
            padding-left: 32px;
            line-height: 19px;

            &:before {
                height: 20px;
                width: 20px;    
            }
        }

        &__customSelect {
            margin: 1px -23px 0;

            .customSelect {
                &__value {
                    font-size: 12px;
                    line-height: 44px;
                    height: 44px;
                    padding: 0 44px;
                }

                &__dropdown {
                    li {
                        font-size: 18px;
                        padding: 0 50px;
                    }
                }
            }

            &-sizeShirt {
                .customSelect__value {
                    background-position: 13px 50%;
                    background-size: 18px 16px;
                }
            }

            &-sizeShoes {

                .customSelect__value {
                    background-position: 13px 50%;
                    background-size: 19px 10px;
                }
            }

            &-place {
                .customSelect__value {
                    background-position: 13px 50%;
                    background-size: 15px 15px;
                }
            }
        }
    }

}

@media all and (min-width: 480px) and (max-width: 599px) {
    
    html,
    body {
        font-size: 13px;
    }

    .howItWorks {
        padding: 35px 35px 25px;
    }

    .instagramSignin {
        &__group {
            height: 65px;
            &:before {
                left: 12px;
            }
        }

        &__submit {
            background-size: 26px 28px;
            width: 75px;
            height: 65px;
        }
    }

    .map__list {
        height: 540px;
    }

    .product {
        padding: 30px 0;

        .btn-product {
            padding-left: 150px;
            line-height: 28px;
            height: 126px;

            &:before {
                background-size: 130px 126px;
                width: 130px;
            }
        }
    }

    .social__item {
        background-size: 51px 42px;
        height: 96px;
        width: 96px;
    }

    .form {
        .l-center {
            padding: 32px 23px;
        }
        
        &__group {
            margin-bottom: 32px;
        }

        &__label {
            margin-bottom: 12px;
        }

        &__field {
            height: 60px;
        }
    }
    
    .btn {
        &-yellow {
            line-height: 70px;
            height: 70px;
        }
    }
}

@media all and (min-width: 600px) and (max-width: 639px) {
    
    .map__list {
        height: 540px;
    }

}