@mixin inline-block($valign: $inline-block-alignment) {
    display: inline-block;
    vertical-align: $valign;

    @if ($legacy-support-for-ie7 or $legacy-support-for-ie6) {
        _display: inline;
        zoom: 1;
    }
}

@mixin opacity($opacity) {
    @if ($legacy-support-for-ie8 or $legacy-support-for-ie7 or $legacy-support-for-ie6) {
        filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})");
    }
    opacity: $opacity;
}

@mixin font-size($font-size) {

    font-size: ($font-size) + px;
    font-size: ($font-size/$font-base-size-unit) + rem

}

@mixin text-overflow($max-width) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @if ($max-width != full) {
        max-width: $max-width;
    }
}

@mixin arrow($width, $height, $color, $direction) {
    height: 0;
    width: 0;

    @if ($direction == right) {
        border-top: $height/2 solid transparent;
        border-bottom: $height/2 solid transparent;
        border-left: $width solid $color;
    }

    @if ($direction == left) {
        border-top: $height/2 solid transparent;
        border-bottom: $height/2 solid transparent;
        border-right: $width solid $color;
    }

    @if ($direction == top) {
        border-left: $width/2 solid transparent;
        border-right: $width/2 solid transparent;
        border-bottom: $height solid $color;
    }

    @if ($direction == bottom) {
        border-left: $width/2 solid transparent;
        border-right: $width/2 solid transparent;
        border-top: $height solid $color;
    }
}

@mixin arrow-stroke($width, $height, $background, $stroke, $color, $direction) {
    background: $background;
    border: solid $color;
    height: $height;
    width: $width;
    
    @if ($direction == top) {
        border-width: $stroke $stroke 0 0; 
        transform: rotate(-45deg);
    }

    @if ($direction == right) {
        border-width: $stroke $stroke 0 0; 
        transform: rotate(45deg);
    }

    @if ($direction == bottom) {
        border-width: 0 $stroke $stroke 0; 
        transform: rotate(90deg);
    }

    @if ($direction == left) {
        border-width: $stroke 0 0 $stroke; 
        transform: rotate(-45deg);
    }    
}