$strict-normalize: true;
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;

$inline-block-alignment: top;

$font-base-family: avantgardegothiccdemi, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$font-base-size-unit: 16;
$font-base-size: 16px;
$font-base-line-height: 16px;

$border-color: rgba(226, 226, 226, 0.6);