.footer {
    text-align: center;
    height: 180px;

    &__term {
        background: #f5f5f5;
        color: #282828;
        font-family: adihausdinregular, sans-serif;
        @include font-size(22);
        line-height: 1.45em;
        padding: 12px 0;

        p {
            margin: 0 auto;
        }

        a {
            @extend .no-link;
            color: #282828;
        }
    }
}

.social {
     &__title {
        border-top: 1px solid $border-color;
        color: #cbcbcb;
        @include font-size(36);
        line-height: 2.4em;
    }

    &__list {
        @extend .list-h;
        border-bottom: 1px solid $border-color;
        border-top: 1px solid $border-color;
    }

    &__item {
        background: no-repeat 50% 50%;
        border: solid $border-color;
        border-width: 0 1px;
        display: block;
        height: 138px;
        width: 138px;
    }

        &__item-vk {
           @extend .social__item;
           background-image: url("../img/mobile/icons/vk.png");   
        }

        &__item-tw {
           @extend .social__item;
           background-image: url("../img/mobile/icons/tw.png");
           border: 0; 
        }

        &__item-fb {
           @extend .social__item;
           background-image: url("../img/mobile/icons/fb.png");   
        }
}