.header {
    background: #fff;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.06);
    padding: 0 35px;
    height: 90px;
    
    .l-center {
        line-height: 90px;
        min-height: 100%;
        height: 100%;
    }
    
    &__logo {
        @include inline-block(middle);
        height: 36px;
        width: 191px;

        img {
            max-width: 100%;
            max-height: 100%;
            vertical-align: top;
        }
    }
}