.no-btn {
    padding: 0;
    margin: 0;
    background: 0;
    border: 0;
}

.btn {
    @extend .no-btn;
    @include inline-block;
    
    background: #000;
    color: #fff;
    @include font-size(36);
    padding: 0 30px;
    height: 90px;
    line-height: 90px;
    
    &-yellow {
        @extend .btn;
        background: #fddc00;
        color: #000;
        width: 100%;
    }

    &-big {
        display: block;
        padding: 0;
        height: 65px;
        line-height: 65px;
        width: 100%;
    }

    &:focus {
      border: 0;
    }

    &-back {
        @extend .btn;
        @include font-size(24);
        background: 0;
        border-bottom: 1px solid $border-color;
        color: #000;
        display: block;
        font-family: adihausdinregular;
        font-weight: bold;
        height: 80px;
        line-height: 80px;
        width: 100%;

        span {
            background: url("../img/mobile/icons/arrow-back.svg") no-repeat 0 50%;
            background-size: 38px 28px;
            display: block;            
            margin: 0 auto;
            max-width: 580px;
            padding-left: 60px;
            text-align: left;
            text-transform: uppercase;
        }
    }

    &-close {
        @extend .no-btn;
        background: url("../img/mobile/close.png") no-repeat 50% 50%;
        background-size: cover;
        height: 30px;
        position: absolute;
        right: -28px;
        top: -2px;
        width: 29px;
    }

    &-more {
        @extend .no-btn;
        @include inline-block;
        
        background: #ce0886;
        border-radius: 100%;
        color: #fff;
        font-size: 30px;
        line-height: 50px;
        margin: 0 0 0 14px;
        letter-spacing: -2px;
        width: 50px;
        height: 50px;
    }
}