%icon {
    @include inline-block;
    height: 54px;
    width: 54px;
}

.icon-instagram {
    background: url(../img/mobile/icons/instagram.svg) no-repeat 0 0;
    background-size: contain;
    @extend %icon;

    &-pink {
        @extend .icon-instagram;
        background-image: url(../img/mobile/icons/instagram-pink.svg);
    }

}

.icon-list {
    background: url(../img/mobile/icons/list.svg) no-repeat 0 0;
    background-size: contain;
    @extend %icon;

    &-pink {
        @extend .icon-list;
        background-image: url(../img/mobile/icons/list-pink.svg);
    }
}


.icon-thunder {
    background: url(../img/mobile/icons/thunder.svg) no-repeat 50% 0;
    background-size: contain;
    @extend %icon;
    height: 70px;

    &-pink {
        @extend .icon-thunder;
        background-image: url(../img/mobile/icons/thunder-pink.svg);
    }
}