.howItWorks {
    background: #fddc00 url("../img/mobile/pattern.png") no-repeat 0 0;
    background-size: 100% auto;
    padding: 55px 35px 45px;

    &__title {
        @include font-size(60);
        margin: 0 0 40px;
    }

    &__description {
        @extend .no-list;
        @include font-size(26);

        li {
            position: relative;
            margin: 0 0 30px;
            padding-left: 78px;
        }

        .icon {
            position: absolute;
            left: 0;
            top: 8px;
        }

        p {
            @include inline-block;
            font-family: avantgardegothiccdemi;
            margin: 0;
        }
    }
}

.howItWorks-white {
    @extend .howItWorks;
    background: #f5f5f5 url("../img/mobile/bg-pattern.png");
    padding-top: 45px;

    .howItWorks__title {
        @include font-size(44);
        margin: 0 0 35px;
    }

    .howItWorks__more {
        @include font-size(30);
        margin: 36px 0 0 8px;
    }

    a {
        color: #ce0886;
    }
}

