.instagramSignin {
    
    &__label {
        @include font-size(40);
        margin: 32px 0 20px;
    }

    &__group {
        position: relative;
        height: 90px;
        &:before {
            content: '@';
            color: #e5e5e5;
            @include font-size(56);
            font-family: adihausdinregular, sans-serif;
            font-weight: 700;
            position: absolute;
            left: 23px;
            top: 0;
        }
    }

    &__field {
        @extend .form__field;
        border-color: #fff;
        @include font-size(56);
        margin-right: 20px;
        padding-left: 90px;
        min-height: 100%;
        width: 75%;

        -webkit-appearance: none;
        -moz-appearance: none;
    }

    &__submit {
        @extend .btn;
        background: #000 url("../img/mobile/icons/arrow-white.svg") no-repeat 50% 50%;
        background-size: 42px 47px;
        min-height: 100%;
        padding: 0;
        width: 100px;
    }
}