.map {
    background: #f5f5f5 url("../img/mobile/bg-pattern.png");
    background-size: 100% auto;
    text-align: center;

    .l-center {
        padding: 23px 32px 40px;
        max-width: 578px;
    }
    
    .btn-yellow {
        padding: 0 20px;
    }

    &__text {
        background: linear-gradient(left, #ffc000, #ce0886);
        @include font-size(35);
        
        margin: 0 0 35px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__mainPhoto {
        background: #d5389c;
        border-radius: 50%;
        border: 8px solid #f1ddea;
        height: 275px;
        margin: 64px auto 20px;
        padding: 5px;
        position: relative;
        width: 275px;

        img {
            border-radius: 100%;
            width: 100%;
        }

        &:after {
            background: url("../img/mobile/wave.png") no-repeat 50% 50%;
            background-size: 100% auto;
            content: "";
            display: block;
            position: absolute;
            bottom: -110px;
            left: 50%;
            margin: 0 0 0 -170px;
            height: 110px;
            width: 340px;
        }
    }

    &__list {
        @extend .list-h;
        margin-top: 120px;
        height: 360px;
        overflow: hidden;

        &.nolimit {
            height: auto !important;
        }
    }
        &__photo {
            background: #fedf14;
            border-radius: 50%;
            border: 6px solid #f8f3ab;
            height: 123px;
            margin: 17px 23px;
            padding: 5px;
            position: relative;
            overflow: hidden;
            width: 119px;

            img {
                border-radius: 100%;
                width: 100%;
            }
        }

    &__connect {
        @extend .list-v;
        margin-top: 90px;

        img {
            border-radius: 100%;
            width: 100%;
        }
    }
        &__connectOwn {
            background: #fedf14;
            border-radius: 50%;
            border: 8px solid #f8f3ab;
            position: relative;
            padding: 5px;
            margin: 0 auto 145px;
            height: 275px;
            width: 275px;

            &:after {
                background: url(../img/mobile/connect.png) no-repeat 0 0;
                content: '';
                position: absolute;
                bottom: -159px;
                left: 50%;
                width: 41px;
                height: 159px;
                margin: 0 0 0 -20px;
                z-index: 1;
            }
        }

        &__connected {
            background: #f67c34;
            border-radius: 50%;
            border: 6px solid #fbe9d7;
            padding: 5px;
            margin: 0 auto;
            height: 123px;
            width: 119px;
        }

    &__more {
        margin: 0 auto;
        @include font-size(30);

        span {
            height: 25px;
            line-height: 25px;
            vertical-align: middle;
        }
    }

    &__share {
        @include font-size(32);
        margin-top: 33px;
        
        p {
            margin: 0;
        }

        ul {
            @extend .list-h;
            margin-top: 20px;
        }

        li {
            margin: 0 24px;
        }
    }

    &__shareLink {
        display: block;
        width: 84px;
        height: 84px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: #ce0886;
        border-radius: 100%;
    }

        &__share-fb {
            @extend .map__shareLink;
            background-image: url("../img/mobile/icons/fb-share.png");
        }

        &__share-tw {
            @extend .map__shareLink;
            background-image: url("../img/mobile/icons/tw-share.png");
        }

        &__share-vk {
            @extend .map__shareLink;
            background-image: url("../img/mobile/icons/vk-share.png");
        }
}