.product {
    @extend .l-center;
    padding: 40px 0;
    text-align: center;

    .btn-product {
        @extend .btn;
        @include font-size(30);
        background: none;
        color: #010101;
        line-height: 1.325em;
        height: 167px;
        margin: 0 auto;
        position: relative;
        padding: 0 0 0 200px;
        text-align: left;

        &:before {
            background: url("../img/mobile/product.png") no-repeat 0 50%;
            display: block;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 173px;
            z-index: 1;
        }
    }
}