.text {
    background: #f5f5f5 url("../img/mobile/bg-pattern.png");
    background-size: 100% auto;

    &__content {
        @include font-size(36);
        margin: 0 auto;
        max-width: 640px;
        padding: 22px 50px 40px;
        text-align: left;

        h1 {
            @include font-size(50);
            margin-top: 0;
            line-height: 1.1em;
        }

        p {
            font-family: adihausdinregular, sans-serif;
        	margin: 22px 0 10px;
        }

        a {
            color: #ce0886;
        }
    }

    &__more {
        @include font-size(32);
        margin-top: 40px;
    }

    &__img {
    	width: 100%;
    }
}

.text-product {
    @extend .text;

    .text__content {
        @include font-size(34);
    }

    p {
        margin: 0 0 10px;
        font-family: avantgardegothiccdemi;
    }
}