<header id="header">
      <div class="lk-popup">
        Изменения сохранены.
      </div>
      <!-- блок авторизации и регистрации -->
<div id="loginpanel" class="loginpanel">
  
  <div class="loginpanel_show">   
    <div class="loginpanel-menu">
      <div class="row">
        <a href="" class="loginpanel-close" onclick="popups.hideAuth();return false;"></a>
        
        <a href="#" data-resource="tab-login" onclick="popups.showAuth('loginpanel','tab-login');return false;" class="loginpanel-menu-link">Войти</a><!--
        --><a href="#" data-resource="tab-reg" onclick="popups.showAuth('loginpanel','tab-reg');return false;" class="loginpanel-menu-link">Зарегистрироваться</a><!--
        --><!--a href="#" class="loginpanel-menu-link">Получить карту Runner--></a><!--
        --><a href="#" data-resource="tab-forgot" onclick="popups.showAuth('loginpanel','tab-forgot');return false;" class="loginpanel-menu-link">Забыли пароль?</a>
      </div>
    </div>
    <div class="loginpanel-form" id="tab-login">
      <div class="loginpanel_loader"></div>
      <div class="row">
        <form action="/ajax/login" method="post">
          <div class="profile-field-box left">
            <label class="profile-label" for="email-field">email</label><br />
            <input type="text" name="login" class="profile-field profile-field-middle" id="email-field" placeholder="" value="" />
          </div>
          <div class="profile-field-box left">
            <label class="profile-label" for="pass-field">Пароль</label><br />
            <input type="password" name="password" class="profile-field profile-field-middle" id="pass-field" value="" placeholder="" />
          </div>
          <div class="profile-field-box left">
            <label class="profile-label" for="bday-field">Войти с помощью</label><br />
            <a href="#" onclick="sAuth.auth('vk'); return false;" class="profile-link-auth"><img src="/img/profile-vk.png" alt="" title="" /></a><!--
            --><a href="#" onclick="sAuth.auth('tw'); return false;" class="profile-link-auth"><img src="/img/profile-tw.png" alt="" title="" /></a><!--
            --><a href="#" onclick="sAuth.auth('fb'); return false;" class="profile-link-auth"><img src="/img/profile-fb.png" alt="" title="" /></a>
                        <!--<a href="#" onclick="sAuth.auth('im'); return false;" class="profile-link-auth"><img src="/img/profile-im.png" alt="" title="" /></a>-->
          </div>
          
          <div class="clear">
            <button class="profile-btn profile-btn-save js-button">войти <i>></i></button>
          </div>
        </form>
      </div>
    </div>
    
    <div class="loginpanel-form" id="tab-reg">
      <div class="loginpanel_loader"></div>
      <div class="row">
        <form action="/ajax/reg" method="post">
          <div class="colums-reg" style="margin: 0 35px 0 0;">
            <div class="profile-field-box">
              <label class="profile-label" for="email-field">email</label><br />
              <input type="text" name="email" class="profile-field" id="email-field" value="" />
              <div class="error-text"></div>
            </div>
            <div class="profile-field-box">
              <label class="profile-label" for="pass-field">Пароль</label><br />
              <input type="password" name="password" class="profile-field" id="pass-field" value="" placeholder="" />
              <div class="error-text"></div>
            </div>
            <div class="profile-field-box">
              <label class="profile-label" for="passdu-field">Повторите пароль</label><br />
              <input type="password" name="confirm" class="profile-field" id="passdu-field" value="" placeholder="" />
              <div class="error-text"></div>
            </div>
          </div><!--
          --><div class="colums-reg" style="margin: 0 35px 0 0;">
            <div class="profile-field-box">
              <label class="profile-label" for="name-field">имя и фамилия</label><br />
              <input type="text" name="name" class="profile-field" id="name-field" value="" />
              <div class="error-text"></div>
            </div>
            <div class="profile-field-box">
              <label class="profile-label" for="bday-field">дата рождения</label><br />
              <input type="text" name="bdate" class="profile-field profile-field-small" id="bday-field" placeholder="ДД.ММ.ГГГГ" value="" />
              <div class="error-text"></div>
            </div>  
            <div class="profile-field-box">
              <label class="profile-label" for="city-field">город</label><br />             
              <input type="text" name="city" class="profile-field" id="city-field" onkeyup="selectCity($(this));" value="" />
              <div class="city-list city-list-auth js-citylist"></div>
            </div>            
            
          </div><!--
          --><div class="colums-reg" style="margin: 0 35px 0 0;">
            <div class="profile-field-box">
              <label class="profile-label" for="phone-field">мобильный телефон</label><br />
              <input type="text" name="phone" class="profile-field" id="phone-field" value="" />
              <div class="error-text"></div>
            </div>
            <div class="profile-field-box">
              <label class="profile-label">Ваш пол</label><br />
              <div class="profile-checkbox">
                <input type="radio" id="r1" name="sex" checked value="man" />
                <label for="r1"><span></span>Мужской</label>
              </div>    
              <div class="profile-checkbox">
                <input type="radio" id="r2" name="sex" value="woman" />
                <label for="r2"><span></span>Женский</label>
              </div>
            </div>
            <div class="profile-checkbox">
              <label class="profile-label">&nbsp;</label><br />
              <input type="checkbox" id="c1reg" name="agree" />
              <label for="c1reg"><span></span>Я согласен с <a target="_blank" href="/rules">правилами</a></label>
            </div>
          </div>
          <!--
          --><div class="colums-reg" style="margin: 0 0 0 0;">
            <div class="profile-field-box">
              <div class="profile-checkbox">
              
                <label class="profile-label"><br /><img src="/img/runner-card-small.png" class="profile_card_prev" alt="" title="" /></label><br />
              
                <input type="checkbox" id="c2" name="cartrunclub" />
                <label for="c2"><span></span>Получить карту runner></label>
              </div>
            </div>
          </div>
          
          <div class="clear">
            <button class="profile-btn profile-btn-save js-button">зарегистрироваться <i>></i></button>
          </div>
        </form>
      </div>
    </div>
    <div class="loginpanel-form" id="tab-forgot">
      <div class="loginpanel_loader"></div>
      <div class="row">
        <form action="/ajax/restore" method="post">
          <div class="profile-field-box left">
            <label class="profile-label" for="email-field">email</label><br />
            <input type="text" name="email" class="profile-field profile-field-middle" id="email-field" placeholder="" value="" />
          </div>              
          
          <div class="clear">             
            <button class="profile-btn profile-btn-save js-button">восстановить <i>></i></button>
          </div>
        </form>
      </div>
    </div>

    <div class="loginpanel-form" id="tab-consent">
      <div class="loginpanel_loader"></div>
      <div class="row">
        <form action="/ajax/agree" method="post">
          <div class="profile-checkbox">
            <label class="profile-label" style="color: #000;">Пожалуйста, ознакомьтесь с обновленным <a target="_blank" href="/rules">пользовательским соглашением.</a></label><br />
            <input type="checkbox" id="c5consent" name="agree" checked="checked" />
            <label for="c5consent"><span></span>Я принимаю пользовательское соглашение</label>
          </div>
          
          <div class="clear">             
            <button class="profile-btn profile-btn-save js-button">подтверждаю <i>></i></button>
          </div>
        </form>
      </div>
    </div>

    <div class="loginpanel-form" id="tab-help">
      <div class="loginpanel_loader"></div>
      <div class="row">
        <div class="js-content content-help"></div>
        <a href="/" class="profile-btn profile-btn-save">ok ></a>
      </div>
    </div>
    
    <div class="loginpanel-form" id="tab-card"> 
      <div class="loginpanel_loader"></div>
      <div class="row">
          <div class="runner-card-box left">
            <div class="runner-card-big">             
            </div>            
          </div>
          <div class="runner-card-cluns">
            <form action="/ajax/card" method="post" style="overflow: hidden;">
              <div class="left js-content">
                <p>для получения карты<br />введите свой<br />мобильный телефон</p>
                
                <p><input type="text" name="phone" class="profile-field profile-field-song" placeholder="+7" value="" /></p>
                
                <p><button class="profile-btn profile-btn-save js-button">получить карту <i>></i></button></p>
              </div>              
            </form>
          </div>
          <div class="clear"></div>
      </div>
    </div>
    
    <div class="loginpanel-form" id="tab-passchange">
      <div class="loginpanel_loader"></div>
      <div class="row">
        <form action="/ajax/change" method="post">          
            <div class="profile-forgot-pass">
              <div class="profile-cols-long left">
                <div class="profile-field-box left">
                  <label class="profile-label" for="pass-field">Новый пароль</label><br />
                  <input type="password" name="password" class="profile-field profile-field-middle" id="pass-field" value="" />
                </div>
                <div class="profile-field-box left">
                  <label class="profile-label" for="passdu-field">Повторите пароль</label><br />
                  <input type="password" name="confirm" class="profile-field profile-field-middle" id="passdu-field" value="" />
                </div>
              </div>
            </div>
            <div class="clear"></div>           
            <button class="profile-btn profile-btn-save js-button">сохранить изменения <i>></i></button>
            <button class="profile-btn" onclick="popups.showAuth('loginpanel','tab-login');return false;">отмена</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- блок авторизации и регистрации -->
      <div class="head">
        <div class="row">
          <div class="contained desktop-3 tablet-2 mobile-2">
            <div class="logo">
              <a href="/"><img src="/logo.svg" onerror="this.onerror=null; this.src='/img/logo.png'"></a>
            </div>
          </div>
          <div class="contained desktop-9 tablet-4 mobile-3 text-center">
            <nav class="navmenu">
              <!--
                            --><a href="/articles" class="articles-link">статьи</a><!--             --><a href="/runclub" class="runclub-link">runclub></a><!--             --><a href="/events" class="events-link">события</a><!--              --><a href="/routes" class="routes-link">маршруты</a><!--             --><!--<a href="/routes" class="routes-link">маршруты</a>-->
            </nav>
          </div>
          <div class="contained desktop-4 tablet-2 mobile-1 mobile-right">

            <div class="loginin text-center right">
                              <a href="#" onclick="popups.showAuth('loginpanel','tab-login');return false;" class="js-login loginin_link">
                  <div class="loginin_link_clip">
                    <div class="loginin_first_clip"><img src="/img/loginin-icon.png" alt="" title="" /><br />ВХОД</div>
                    <div class="loginin_second_clip"><img src="/img/loginin-icon.png" alt="" title="" /><br />ВХОД</div>
                  </div>
                </a>
                          </div>
            <div class="search-box text-center right">
              <form action="/find" method="get">
              <button class="search-btn"></button>
              <input type="text" name="q" class="search-field" value="" placeholder="Поиск" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>