meta(charset='utf-8')
meta(name='google', content='notranslate')
meta(http-equiv='Content-Language', content='ru_RU')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(property="og:title", content="#ЗАРЯДИДРУЗЕЙ")
meta(property="og:description", content="Я заряжаю друзей энергией бега! #зарядидрузей #boost #adidasrunning")
meta(property="og:type", content="article")
meta(property="og:image", content="http://energy.adidas-running.ru/share/" + og_image)
meta(name="viewport", content="width=1280")
//- link(rel='stylesheet', href=-'http://adidas-running.ru/css/common.css')
link(rel='stylesheet', href='/css/style.min.css')
link(rel='stylesheet', href='/css/graph.css')
script(src='/js/vendor/modernizr.min.js')
script(src='http://medal.adidas-running.ru/js/openapi.js')
title adidas-running : #зарядидрузей