header.header
  .header__wrapper
    a.header__logo(href="http://adidas-running.ru", title="running>")
      img(src="/img/logo.svg", alt="Adidas. Running>")
    nav.nav
      ul.nav__menu
        li
          a.nav-articlesLink(href="http://adidas-running.ru/articles", target="_blank") статьи
        li
          a.nav-runclubLink(href="http://adidas-running.ru/runclub", target="_blank") runclub>
        li
          a.nav-eventsLink(href="http://adidas-running.ru/events", target="_blank") события
        li
          a.nav-routesLink(href="http://adidas-running.ru/routes", target="_blank") маршруты