<!--[if gt IE 9 ]><!--><script src="js/vendor/jquery/jquery.min.js"></script><!--<![endif]-->
<!--[if lte IE 9 ]><script src="js/vendor/jquery/jquery-legacy.min.js"></script><![endif]-->
script(src="http://d3js.org/d3.v3.min.js")
script
    :js
        if(typeof $ == "undefined")
            document.write('<scr' + 'ipt src="/js/jquery.min.js"></scr' + 'ipt>');
        if(typeof d3 == "undefined")
            document.write('<scr' + 'ipt src="/js/d3.v3.min.js"></scr' + 'ipt>');
script(src='/js/vendor/chosen.jquery.min.js')
script(src='/js/base.js')
script(src="/js/riot.min.js")
script(src="/js/riot-app.js")
script(src="/js/graph.js")
script
    :js
        document.bounds = !{bounds}
script.
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-42119313-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

div.hidden
    | <!-- Yandex.Metrika informer -->
    | <a href="https://metrika.yandex.ru/stat/?id=25797725&amp;from=informer"
    | target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/25797725/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
    | style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:25797725,lang:'ru'});return false}catch(e){}"/></a>
    | <!-- /Yandex.Metrika informer -->
    | <!-- Yandex.Metrika counter -->
    | <script type="text/javascript">
    | (function (d, w, c) {
    | (w[c] = w[c] || []).push(function() {
    | try {
    | w.yaCounter25797725 = new Ya.Metrika({id:25797725,
    | webvisor:true,
    | clickmap:true,
    | trackLinks:true,
    | accurateTrackBounce:true});
    | } catch(e) { }
    | });
    | var n = d.getElementsByTagName("script")[0],
    | s = d.createElement("script"),
    | f = function () { n.parentNode.insertBefore(s, n); };
    | s.type = "text/javascript";
    | s.async = true;
    | s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
    | if (w.opera == "[object Opera]") {
    | d.addEventListener("DOMContentLoaded", f, false);
    | } else { f(); }
    | })(document, window, "yandex_metrika_callbacks");
    | </script>
    | <noscript><div><img src="//mc.yandex.ru/watch/25797725" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    | <!-- /Yandex.Metrika counter -->``

    | <!-- Google Tag Manager -->
    | <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5WWTPG"
    | height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    | <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    | new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    | j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    | '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    | })(window,document,'script','dataLayer','GTM-5WWTPG');</script>
    | <!-- End Google Tag Manager -->