doctype html
html
    head
        title
    body
        form(action="#", method="POST")
            div
               label(for="inspirator") Инспиратор
               input#inspirator(name="inspirator")
            div
                label(for="tofix") Хуёвый ник
                input#tofix(name="tofix")
            div
                label(for="right") Исправление
                input#right(name="right")
            input(type="submit")