extends ../layout.jade
block content
    .wrap
        .header
            .filter-wrap

                label Page
                select#page-selector(style="margin: 0 10px;padding: 5px 3px; font-size: 16px;")
                    - var page = 0
                    while page < pages

                        option(value=page)= page
                        - page++
                span of #{pages - 1}

            .filter-wrap.filter-wrap-first
                label Photo
                .filter
                    .field
                        input(type="checkbox", id="filter-photo-new")
                        label(for="filter-photo-new") new
                    .field
                        input(type="checkbox", id="filter-photo-appr")
                        label(for="filter-photo-appr") approved
                    .field
                        input(type="checkbox", id="filter-photo-den")
                        label(for="filter-photo-den") denied
            .filter-wrap.filter-wrap-second
                label with charges
                .filter
                    .field
                        input(type="checkbox", id="filter-charge-all")
                        label(for="filter-charge-all") all
                    .field
                        input(type="checkbox", id="filter-charge-not")
                        label(for="filter-charge-not") not sent
                    .field
                        input(type="checkbox", id="filter-charge-sent")
                        label(for="filter-charge-sent") sent

            .filter-wrap
                a(href="/ig/export") export

        .content

    #image-template.template
        .image-item(style="background-image:url(\{images.low_resolution.url\})")
            .approve-controls
                span.link
                    a(href="{link}", target="_blank")
                span.approve
                span.deny
            .charge-controls
                ul.charge-list
        .overlay
    #charge-template.template
        | {user}
        a(href="#", class="sent-indicator")
        textarea.
            {user}, все готово для твоей первой беговой тренировки в boost runclub>! Зайди по ссылке в профиле @adidasrussia, выбери удобный boost runclub> для занятий, приходи и получай набор начинающего бегуна. Не забудь поделиться впечатлениями с друзьями!


    #charge-template-noinsp.template
        | {user}
        a(href="#", class="sent-indicator")
        textarea.
            {user}, отличное фото! Чтобы твой друг, который еще не бегает, зарядился бегом и посетил эксклюзивную тренировку в  boost runclub>, выкладывай больше своих беговых фото с хэштегом #зарядидрузей и не забывай указывать в описании к фото ник друга. Больше заряженных друзей – больше бегунов в Москве!

    #charge-template-init.template
        | {user}
        a(href="#", class="sent-indicator")
        textarea.
            Спасибо, {user}, отличная фотография! Мы уверены, она обязательно зарядит твоего друга энергией бега. В ближайшее время мы отправим ему приглашение на эксклюзивную тренировку в #boostrunclub>, где его будет ждать тренер и набор начинающего бегуна в подарок. Не забудь спросить друга о впечатлениях после тренировки! Не останавливайся на достигнутом, заряжай больше друзей, чтобы позитивных и ярких людей в Москве стало еще больше!
