- var mediaRoot = "http://energy.adidas-running.ru/img/"
doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    body(style="font-family: arial, helvetica, sans-serif;background:#f5f5f5")
        div(style="width:100%;")
            div(style="margin:50px 70px 0;width:620px;background: #FFF;-webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);overflow:hidden;-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);-o-box-shadow:0 0 10px rgba(0,0,0,0.5);box-shadow: 0 0 10px rgba(0,0,0,0.5);")
                img(src=mediaRoot + "logo-charge.jpg", style="")

                div(style="margin:30px 36px;line-height:24px;")

                    p(style="font-weight:bold;font-size:18px;") Здравствуй, #{username}!

                    p(style="font-size:18px;") Спасибо, что принимаешь участие в акции #ЗАРЯДИДРУЗЕЙ!
                    p(style="font-size:18px;") Теперь у тебя есть шанс оказаться в Лиссабоне на забеге Rock'N'Roll Lisbon Mini! Чем больше твоих друзей посетит тренировку, тем ты ближе к победе!
                    p(style="font-size:18px;") Загружай свои беговые фото в instagram c хэштегом #ЗАРЯДИДРУЗЕЙ и отмечай в описании @ник друзей.
                    p(style="font-size:18px;") Они получат беговые футболки на тренировке в boost runclub>, а ты сможешь поехать в Лиссабон на забег Rock'N'Roll Lisbon Mini!
                    p(style="font-size:18px;") &nbsp;
                    p(style="font-size:18px;") Делись энергией бега и не забудь прийти на тренировку, если тебя тоже зарядили!
                    p(style="font-size:18px;") Для самых активных мы приберегли 100 регистраций на Московский Марафон!

                    //p(style="font-size:18px;") Спасибо, что принимаешь участие в акции #ЗАРЯДИДРУЗЕЙ!
                    //p(style="font-size:18px;") Теперь у тебя есть шанс оказаться на забеге в Лиссабоне.
                    //p(style="font-size:18px;") Загружай свои беговые фото в instagram c хэштегом #ЗАРЯДИДРУЗЕЙ и отмечай в описании @ник друзей.
                    //p(style="font-size:18px;") Они получат специальную футболку для бега на своей первой тренировке в boost runclub>,  а ты сможешь поехать в Португалию на забег Rock'N'Roll Lisbon Mini!
                    //p(style="font-size:18px;") Делись энергией бега и успешных стартов!
                    p(style="font-size:18px;") Подробности на <a href="http://energy.adidas-running.ru/howitworks" style="color:#ffd400;">energy.adidas-running.ru</a>

            div(style="margin: 21px 81px 50px;width:600px;color:#9f9f9f;font-size: 12px;")
                div(style="float:left;") © ООО "Адидас". Все права защищены
                div(style="float:right; padding:0px 7px")
                    a(href="/")
                        img(src=mediaRoot+"vk.png")
                    a(href="/", style="margin:14px")
                        img(src=mediaRoot+"tw.png")
                    a(href="/")
                        img(src=mediaRoot+"fb.png")
