doctype html
html.no-js
    head
        include ./common_partials/head.jade
    body
        include ./common_partials/header.jade
        .wrapper
            .map
                #graph.map__content-main
                #wrap-home.map__bottom
                    .instagramSignin
                        button.map__btn-find.js-instagramFind(type="button") найди себя
                        form.instagramSignin__form.js-instagramSignin(action="#", method="get")
                            input#namefield.instagramSignin__text(type="text", name="", placeholder="введи instagram", autofocus="true")
                            a#checkme.instagramSignin__submit(href="#") >
                    a.map__btn-howitworks(href="/howitworks", data-modal="modalHowItWorks") как это работает?
                    a.map__btn-rules(href="http://energy.adidas-running.ru/rules.pdf", target="_blank") правила акции


                #wrap-register.map__bottom
                    p.map__text-1
                        | получи шанс отправиться на один из самых&nbsp;
                        br
                        | вдохновляющих забегов мира
                    button.btn-yellow.js-modalOpen(href='#', data-modal="modalRegister") зарегистрироваться >

                #wrap-wannarun.map__bottom
                    p.map__text-2
                        | приходи на тренировку в boost runclub >
                    button.btn-yellow.js-modalOpen(href='#', data-modal="modalRegisterBig") зарегистрироваться >

        #modalHowItWorks.modal
            .modal__content
                button.modal__close.js-modalClose(type='button') &times;
                h2.howItWorks__title(style="color:#FFF;font-size:50px;padding-bottom:7px;") #зарядидрузей
                h3.howItWorks__title(style="font-size:34px;")
                    | выиграй поездку на забег в лиссабон и подари
                    br
                    | другу бесплатную футболку и тренировку


                ul.howItWorks__description.howItWorks__description_small
                    li.icon-instagram-small
                        span.condBold 1. загрузи беговое фото
                        p
                            | Загрузи свое беговое фото в
                            br
                            | instagram c хэштегом #зарядидрузей
                            br
                            | и отметь в описании @ник друга
                    li.icon-list-small
                        span.condBold 2. Сделай сюрприз другу
                        p
                            | adidas подарит твоему другу
                            br
                            | футболку и пригласит на
                            br
                            | тренировку в&nbsp;
                            a(href="http://adidas-running.ru/articles/zarjadidruzej-trenirovka", style="color:#ce0886;text-decoration:none;") boost runclub>
                    li.icon-thunder-small
                        span.condBold 3. заряжай больше
                        p
                            | Заряжай больше друзей
                            br
                            | и отправляйся в Лиссабон на
                            br
                            | легендарный забег Rock’n'Roll
                            br
                            | Marathon 

                a.howItWorks__rules__small(href="http://energy.adidas-running.ru/rules.pdf", target="_blank") Ознакомиться с правилами акции
                a(href="#register").bigBlackButton начать >


        #modalProduct.modal
            .modal__content
                button.modal__close.js-modalClose(type='button') &times;
                .modal__contentLeft
                    p
                        | энергия бега объединяет. заставляет сердце биться чаще. наполняет позитивными эмоциями.
                    p
                        | adidas boost возвращает тебе максимум энергии, и ты можешь зарядить ею всех, кто рядом с тобой.
                    p #зарядидрузей, чтобы новых бегунов стало больше.
                .modal__contentImage
                    img(src='/img/productBanner.jpg', alt='')

        #modalRegister.modal-yellow
            .modal__content
                button.modal__close.js-modalClose(type='button') &times;
                h2.modal__title
                    | adidas пригласит твоего друга
                    br
                    | на специальную тренировку в boost runclub>
                    //br
                    //| футболку и тренировку
                form.form.js-validateForm(action="/reg", method="post", novalidate)
                    input(type="hidden", value="inspirator", name="type")
                    fieldset.form__groupFieldset
                        div.form__group
                            label.form__label(for="email") email
                            input.form__field.js-validate(type="email", id="email", name="email", data-required="true", data-validator="email")
                            span.form__validateMessage.js-invalidMessage
                        div.form__group
                            label.form__label(for="instagram-account") instagram аккаунт
                            input.form__field.form__field-instagram.js-validate(type="text", id="instagram-account", name="instagram_account", data-required="true")
                            span.form__validateMessage.js-invalidMessage
                    fieldset.form__groupFieldset-full
                        label.form__label(for="name") фио
                        input.form__field.js-validate(type="text", id="name", name="name", data-required="true", data-validator="name")
                        span.form__validateMessage.js-invalidMessage
                    
                    fieldset.form__groupFieldset-rules
                        input(type="checkbox", id="rulesAgree", name="agree").form__customCheckbox
                        label.form__labelCheckbox(for="rulesAgree")
                            | Соглашаюсь с&nbsp;
                            a(href="http://www.adidas.ru/PrivacyPolicy", target="_blank") политикой конфиденциальности

                    fieldset.form__groupFieldset-instagramMine
                        input(type="checkbox", id="instagramIsMine1", name="instagramMy").form__customCheckbox
                        label.form__labelCheckbox(for="instagramIsMine1")
                            | Я подтверждаю, что указанный instagram аккаунт мой

                    fieldset.form__groupFieldset-full
                        button.btn.btn-big(type="submit") зарегистрироваться >
                        div.form__note
                            | читай больше на&nbsp;
                            a(href="http://adidas-running.ru/articles", target="_blank") adidas-running.ru


        #modalRegisterBig.modal-yellow
            .modal__content
                button.modal__close.js-modalClose(type='button') &times;
                h2.modal__title
                    | укажи размер футболки и кроссовок, и adidas подготовит 
                    br
                    | все для твоей первой тренировки 

                form.form.js-validateForm(action="/reg", method="post", novalidate)
                    input(type="hidden", value="inspirated", name="type")
                    fieldset.form__groupFieldset
                        div.form__group
                            label.form__label(for="email") email
                            input.form__field.js-validate(type="email", id="email", name="email", data-required="true", data-validator="email")
                            span.form__validateMessage.js-invalidMessage
                        div.form__group
                            label.form__label(for="instagram-account") instagram аккаунт
                            input.form__field.form__field-instagram.js-validate(type="text", id="instagram-account", name="instagram_account", data-required="true")
                            span.form__validateMessage.js-invalidMessage
                        div.form__group
                            label.form__label(for="size") размер футболки
                            select.form__customSelect.form__customSelect-sizeShirt(name="tsize", id="size")
                                option(value="S") S
                                option(value="M") M
                                option(value="L") L
                                option(value="XL") XL
                    fieldset.form__groupFieldset
                        div.form__group-double
                            label.form__label(for="name") фио
                            input.form__field.js-validate(type="text", id="name", name="name", data-required="true", data-validator="name")
                            span.form__validateMessage.js-invalidMessage
                        div.form__group
                            label.form__label(for="size") размер обуви
                            select.form__customSelect.form__customSelect-sizeShoes(name="size", id="size")
                                option(value="35") 35
                                option(value="36") 36
                                option(value="37") 37
                                option(value="38") 38
                                option(value="39") 39
                                option(value="40") 40
                                option(value="41") 41
                                option(value="42", selected) 42
                                option(value="43") 43
                                option(value="44") 44
                                option(value="45") 45
                    fieldset.form__groupFieldset
                        div.form__group-double
                            label.form__label(for="place") куда приходить на тренировку
                            select.form__customSelect.form__customSelect-place(name="place", id="place")
                                option(value="Лужники") runclub> Лужники

                    fieldset.form__groupFieldset-rules
                        input(type="checkbox", id="rulesAgree2", name="agree").form__customCheckbox
                        label.form__labelCheckbox(for="rulesAgree2")
                            | Согласен с&nbsp;
                            a(href="http://energy.adidas-running.ru/rules.pdf", target="_blank") правилами

                    fieldset.form__groupFieldset-instagramMine
                        input(type="checkbox", id="instagramIsMine", name="instagramMy").form__customCheckbox
                        label.form__labelCheckbox(for="instagramIsMine")
                            | Я подтверждаю, что указанный instagram аккаунт мой

                    fieldset.form__groupFieldset-full
                        button.btn(type="submit") зарегистрироваться >
                        div.form__note
                            | читай больше на&nbsp;
                            a(href="http://adidas-running.ru/articles", target="_blank") adidas-running.ru

        div.overlay-black
        div.rotate 
            | переверните 
            br
            | устройство

        include ./common_partials/scripts.jade