doctype html
html.no-js
    head
        include ./common_partials/head.jade
    body
        include ./common_partials/header.jade
        #modalHowItWorks.modal(style="display:block;")
            .modal__content
                a.modal__close.js-modalClose(href="/", style="text-decoration:none;") &nbsp;

                .howitworks-wrapper
                    .kv
                        img(src="/img/shirt.png")
                        .kvtext.dinMed Гарантированный<br> приз всем друзьям

                    .mech
                        .text-header #зарядидрузей
                        .text-desc adidas пригласит твоего друга<br>на специальную тренировку в boost runclub>

                        ul.mech-desc
                            li.insta загрузи свое беговое фото в instagram c хэштегом<br>#зарядидрузей и отметь в описании @ник друга
                            li.lines(style="padding-top:12px;margin-bottom: 19px;") adidas пригласит твоего друга на специальную<br>тренировку в boost runclub>
                            li.thunder заряжай больше друзей и смотри, как растет беговое<br>сообщество на energy.adidas-running.ru

                            a.bigBlackButton(href="/#register") принять участие >





        div.overlay-black
        div.rotate
            | переверните 
            br
            | устройство

        include ./common_partials/scripts.jade