doctype html
html.no-js
  head
    include ./common_partials/head.jade
  body
    include ./common_partials/header.jade
    .text
      .text__inner
        a.btn-close(href="/") &times;
        .text__content
          h1 спасибо!
          p 
            | Ждем тебя каждую субботу в 12:30 в выбранном тобой boost runclub>! 
            br
            | Чтобы мы тебя узнали и вручили тебе набор начинающего бегуна, предъяви на тренировке свой эккаунт в Instagram.
          p До встречи в boost runclub>!
          .text__more 
            | читай больше на 
            a(href="http://adidas-running.ru/articles", target="_blank") adidas-running.ru

    include ./common_partials/scripts.jade