doctype html
html.no-js
  head
    include ./common_partials/head.jade
  body
    include ./common_partials/header.jade   
    .text
      .text__inner
        a.btn-close(href="/") &times;
        .text__content
          h1 спасибо за твое желание заряжать друзей!
          p За количеством заряженных друзей ты сможешь следить в личном энергографе. Чтобы увидеть свой прогресс, просто введи свой @ник в Instagram на главной странице сайта.
          p adidas пригласит твоего друга на специальную тренировку в boost runclub>
          p Заряжай больше друзей и смотри, как растет беговое сообщество на energy.adidas-running.ru
          .text__more 
            | читай больше на 
            a(href="http://adidas-running.ru/articles", target="_blank") adidas-running.ru

    include ./common_partials/scripts.jade