doctype html
html.no-js
  head
    include ./common_partials/head.jade
  body
    include ./common_partials/header.jade
    .wrapper.with-graph(style="padding-top:91px;")
      .howItWorks
        a.btn-close(href="/")
          img(src="/img/close-round.png")
        h2.howItWorks__title(style="padding-bottom:67px;") ты еще не поделился энергией бега
        ul.howItWorks__description
          li
            span.icon-instagram
            p
              | загрузи свое беговое фото в instagram c хэштегом
              br
              | #зарядидрузей и отметь в описании @ник друга
          li
            span.icon-list
            p adidas пригласит твоего друга на специальную тренировку в boost runclub
          li
            span.icon-thunder
            p заряжай большедрузей и смотри,как растет беговое сообщество на energy.adidas-running.ru
        div.modal__more 
          | читай больше на 
          a(href="http://adidas-running.ru/articles", target="_blank") adidas-running.ru

    include ./common_partials/scripts.jade