doctype html
html.no-js
    head
        include ./common_partials/head.jade
    body
        include ./common_partials/header.jade
        .wrapper.bg-yellow(style="padding-top:70px;position:relative")
            a.modal__close.js-modalClose(href="/", type="button", style="top:84px;")
            .instagramAccountError
                h1.instagramAccountError__title
                    | имя твоего instagam-аккаунта
                    br
                    | уже было использовано

                form.instagramAccountError__form.js-validateForm(action="#", method="post", novalidate)
                    .instagramAccountError__message если это был не ты &ndash; свяжись с нами
                    div.form__group
                        input(type="hidden", value=inst)
                        input.form__field.js-validate(type="email", name="email", placeholder="EMAIL", data-required="true", data-validator="email")
                        span.form__validateMessage.js-invalidMessage
                    button(type="submit", class="btn") отправить >

        include ./common_partials/scripts.jade