doctype html
html.no-js
  head
    include ./common_partials/head.jade
  body
    include ./common_partials/header.jade    
    .text
      .text__inner
        .text__content
          h1 спасибо!
          p
            | Спасибо за письмо, мы постараемся решить вашу проблему в самое ближайшее время!
          .text__more 
            | читай больше на 
            a(href="http://adidas-running.ru/articles", target="_blank") adidas-running.ru

    include ./common_partials/scripts.jade