footer.footer
  .social
    .social__title сообщества adidas
    ul.social__list
      li
        a.social__item-vk(href="http://vk.com/adidasrunning")
      li
        a.social__item-tw(href="https://twitter.com/adidasRU")
      li
        a.social__item-fb(href="https://www.facebook.com/adidasRunning")
  .footer__term
    p &copy; ООО "Адидас". Все права защищены
    p 
      a(href="http://www.adidas.ru/help-topics-terms_and_conditions.html") Юридическая информация
    p 
      a(href="http://www.adidas.ru/help-topics-privacypolicy.html") Политика конфиденциальности