meta(charset='utf-8')
meta(name='google', content='notranslate')
meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width')
meta(http-equiv='Content-Language', content='ru_RU')
link(rel='stylesheet', href='/css/mobile.min.css')
link(rel="icon", href="img/favicon.png", type="image/png")
link(rel="apple-touch-icon-precomposed", sizes="152x152", href="/img/apple-touch-icon/152x152-precomposed.png")
link(rel="apple-touch-icon-precomposed", href="/img/apple-touch-icon/precomposed.png")
script(src='/js/vendor/modernizr.min.js')
title Adidas Energy